/* Chat containers */
.chat-container {
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chat-message {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin: 10px 0;
    padding-top: 5px;
    padding-left: 5px;
    width: 98%;
}

.chat-message p {
    margin-bottom: 5px;
    word-wrap: break-word;
}

/* Clear floats */
.chat-message::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.chat-message img {
    float: left;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #007BFF;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}