.dice-selector {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.dice-selector + span {
    cursor: pointer;
}

.dice-selector:checked + span {
    outline: 2px solid #007BFF;
}