.btn-circle.btn-xl {
  width: 60px;
  height: 60px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  box-shadow: 0 6px 10px 0 #666;
}

.btn-botton-right {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 1;
  transition: all 0.1s ease-in-out;
}

.btn-circle.btn-xl:hover {
  box-shadow: 0 6px 14px 0 #666;
}

.row-with-margin {
  margin-top: 15px;
  margin-bottom: 15px
}

.empty-page {
  text-align: center;
}

.empty-page p {
  font-size: 1rem;
  line-height: 1.6;
}

.home-page {
  text-align: center;
}

.home-page h1 {
  font-size: 4rem;
}

.perudo-title {
  text-align: center;
  color: #f35626;
  background-image: linear-gradient(92deg, #f35626 0%, #feab3a 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 60s infinite linear;
}

@media (min-width: 650px) {
  .mega {
    font-size: 6rem;
    line-height: 1;
  }
}

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}