.gameFooter {
  position: fixed;
  opacity: 0.9;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #007bff;
  color: white;
  text-align: center;
  z-index: 2;
  border-radius: 10px 10px 0px 0px;
  border: 5px solid #007bff;
  padding-bottom: 0px;
}

.gameFooter .p {
  margin-bottom: 0px;
}